
#city{
    background-color: white;
    color:black
}



 
h1{
    text-align: center;
    background-color: blue;
    color:white;
   
}

#date1{
    background-color: white;
    color:black;
}
#fiveDayForcast1{
    margin-top:40%;

}

#mainJumbotron{
    color:black;
    width:50%;
    margin-left:30%;
    
    
}

.row{
    text-align: center;
}

h2{
    position:absolute;
    text-align: center;
    width:100%;
    background-color: aqua;

}
.some-page-wrapper {
    margin: 15px;
    
    margin-top:70px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-content:stretch;
    justify-content: space-around;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .blue-column {
   
    height: 100px;
  }
  
  .green-column {
    
    height: 100px;
  }
  #weatherimage{
    margin-left: 40%;
    height: 100px;
    width:100px;
  }
  #pastCityData{
     width:300px;
     margin-top:20px;
    
     position:absolute; 
  }